.software-circles {
  position: relative;
  width: 46px;
  height: 46px;
  background-color: white;
}

//Max-width of software icons integration section
.software-icon-container {
  max-width:520px;
}
