//
// Base styles
//

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: $input-btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $line-height, $btn-border-radius);
  @include transition(all .2s ease-in-out);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus();
    }
  }

  @include hover-focus {
    text-decoration: none;
  }
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: .65;
    @include box-shadow(none);
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}
.btn-accent {
  @include button-variant($white, $btn-accent-bg, $btn-accent-bg);
}
.btn-app-dark {
  @include button-variant($white, $btn-app-bg, $btn-app-border);
}



// Remove all backgrounds
.btn-primary-outline {
  @include button-outline-variant($btn-primary-bg);
}
.btn-secondary-outline {
  @include button-outline-variant($btn-secondary-border);
}
.btn-info-outline {
  @include button-outline-variant($btn-info-bg);
}
.btn-success-outline {
  @include button-outline-variant($btn-success-bg);
}
.btn-warning-outline {
  @include button-outline-variant($btn-warning-bg);
}
.btn-danger-outline {
  @include button-outline-variant($btn-danger-bg);
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: normal;
  color: $link-color;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
  }
  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &:disabled {
    @include hover-focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


//
// Button Sizes
//

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $line-height-lg, $btn-border-radius-lg);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}


.btn-app-container {
  //adjustments to margin due to scale()
  @include media-breakpoint-up(xs) {
    margin-left: 0;
    margin-bottom:2rem;
    .btn {
      padding-top:0px;
      padding-bottom:4px;
    }
  }
  @include media-breakpoint-up(sm) {
    margin-left: 0;
    margin-bottom:2rem;
    .btn {
      padding-top:0px;
      padding-bottom:4px;
    }
  }
  @include media-breakpoint-up(md) {
    margin-top:2rem;
    margin-left:0;
    margin-bottom:0;
    .btn {
      padding-top:4px;
      padding-bottom:6px;
    }
  }
  @include media-breakpoint-up(lg) {
    margin-left:0;
  }
}
//iOS button
.btn-app {
  position: relative;
  @include media-breakpoint-up(xs) {
    margin-bottom: 10px;
    width:169px;
  }
  @include media-breakpoint-up(md) {
    width:200px;
  }
  @include media-breakpoint-up(lg) {
    width:210px;
  }


  .btn-iOS:before {
    position: absolute;
    top: 10px; left: 16px;
    content: url(../../img/appStore-logo.svg);
    background-size: 20px;
    margin-right: 30px;
    @include media-breakpoint-up(xs) {
        transform: scale(.80);
        top:6px;
      }
      @include media-breakpoint-up(md) {
        transform: scale(.85);
        top:10px;
      }
      @include media-breakpoint-up(lg) {
        transform: scale(.95);
      }
  }
  span {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    @include media-breakpoint-up(xs) {
      font-size:12px;
    }
    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
    @include media-breakpoint-up(lg) {
      font-size:16px;
    }
    @include media-breakpoint-up(xl) {
      font-size:18px;
    }
  }

  p {
    margin: 0;
    padding: 0 0 6px 0;
    font-size: 24px;
    line-height: 1;
    @include media-breakpoint-up(xs) {
      font-size:16px;
    }
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
    @include media-breakpoint-up(lg) {
      font-size:20px;
    }
    @include media-breakpoint-up(xl) {
      font-size:22px;
    }
  }
  //Google Play button
  .btn-googlePlay:before {
    position: absolute;
    top: 10px; left: 16px;
    content: url(../../img/googlePlay-logo.svg);
    background-size: 20px;
    margin-right: 16px;
    @include media-breakpoint-up(xs) {
      transform: scale(.70);
      top:4px;
    }
    @include media-breakpoint-up(md) {
      transform: scale(.85);
      top:10px;
    }
    @include media-breakpoint-up(lg) {
      transform: scale(.90);
    }
  }
} //end btn-app
